
<h1 class="pb-4" >Exploring Random</h1>
<%if(locals.user){%>
    
    <small>refresh the page to see another place</small>
<br><br>
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    
    <% if(place !==''){%>
      
           
          <a href="/places/<%= place._id%>" class="col text-center category__link">
              <div class="category__img category__img__large  shadow" >
                  <img src="/uploads/<%= place.image%>"   alt="<%= place.name%>" >
             </div>
             <div class="pt-1"> <%= place.name%></div>
          </a>
          
      
      <%}else{%>
         
           <p>No items Found</p>
         <%} %>
 </div>
    
    <%}else{%>
        <p>Login to see the results</p>
       <%}%>
